.field {
  border-spacing: 0;
  border: solid 2px;
  border-left-color: black;
  border-top-color: black;
  border-bottom-color: white;
  border-right-color: white;
}

.tile {
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  background-color: lightgray;
  border: solid 2px;
  font-weight: bold;
  cursor: default;
}

.tile:hover {
  background-color: silver;
}

.revealed {
  border-color: darkgray;
}

.unrevealed  {
  border-left-color: white;
  border-top-color: white;
  border-bottom-color: black;
  border-right-color: black;
}

.exploded {
  background-color: red;
}

.wrong {
  opacity: 0.33;
}

.tile1 {
  color: blue;
}

.tile2 {
  color: green;
}

.tile3 {
  color: red;
}

.tile4 {
  color: purple;
}

.tile5 {
  color: black;
}

.tile6 {
  color: maroon;
}

.tile7 {
  color: gray;
}

.tile8 {
  color: turquoise;
}